@{
    ViewBag.Title = "AddNoti";
    Layout = "~/Views/Shared/MasterAdmin.cshtml";
}

<div class="col-sm-12">
    @Html.Raw(@ViewBag.d1)
    @Html.Raw(@ViewBag.d)
</div>
<div class="col-sm-12">
    <h2>ADD Notification</h2>
    <form action="/admin/AddNoti" method="post" >
        <div class="col-sm-12 alert alert-info">
            <div class="col-sm-4 ">
                <label>Title:</label>
                <input type="text" name="title" class="form-control" />
            </div>
            <div class="col-sm-4 ">
                <label>Description:</label>
                <input type="text" name="description" class="form-control" />
            </div>
            <div class="col-sm-4 ">
                <label></label><br />
                <input type="submit" value="Add now" class="btn btn-warning" />
            </div>
        </div>
    </form>
</div>
<div class="col-sm-12">
    <table class="table table-hover alert alert-success">
        <tr><th>Sr.no</th><th>Title</th><th>Description</th><th>Action</th></tr>
        @Html.Raw(ViewBag.fd)
    </table>
</div>
